<div class="card {{Color.dataValues.color}} lighten-{{lighten}}">
    <div class="card-content white-text">
        <span class="card-title">Task {{id}}</span>
        <p>{{text}}</p>
    </div>
    <div class="card-action white">
            {{#unless first}}
            <a class="move-button waves-effect waves-{{Color.dataValues.color}} btn-flat {{Color.dataValues.color}}-text text-lighten-{{lighten}} left" data-id="{{id}}" data-state="{{state}}" id="backward">
                <i class="material-icons left">arrow_back</i>
            </a>
        {{/unless}}
        {{#unless last}}
            <a class="move-button waves-effect waves-{{Color.dataValues.color}} btn-flat {{Color.dataValues.color}}-text text-lighten-{{lighten}} right" data-id="{{id}}" data-state="{{state}}" id="forward">
                <i class="material-icons left">arrow_forward</i>
            </a>
        {{/unless}}
    </div>
</div>